<!--
  Generated template for the NewcomplaintPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>New Complaint</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="complaint-form">
  <form [formGroup]="complaintForm" class="complaint-form">
    <ion-item class="complaints-item">
      <ion-label class="complaints-label" style="max-width: 20%; margin-right: 0px;">Type</ion-label>
          <ion-select interface="popover" formControlName="complaintTitle" class="complaintType-select">
            <ion-option value="Cleanliness">Cleanliness</ion-option>
            <ion-option value="Security">Security</ion-option>
            <ion-option value="Landscape">Landscape</ion-option>
            <ion-option value="CommonArea">Common area lighting</ion-option>
            <ion-option value="Others">Others</ion-option>
          </ion-select>
    </ion-item>
    <ion-item class="complaints-item">
      <ion-label class="complaints-label complaintLocation">Location</ion-label>
      <ion-input type="text" formControlName="complaintLocation"></ion-input>
    </ion-item>
    <ion-item class="complaints-item" >
      <ion-label class="complaints-label complaintDescription">Description</ion-label>
      <ion-textarea class="complaintDescriptionTextArea" formControlName="complaintDescription" ></ion-textarea>
    </ion-item>
    <div id="complaint-image" class="complaints-item" *ngIf="imageObtained != false">
      <ion-label style="font-size: 18px">Image Preview</ion-label>
      <button id = "x" (tap)="removeImage()">X</button>
      <img [src]="this.imageURI" style = "min-height:30%px; min-width:100%"/>
    </div>
    <div text-center *ngIf="imageObtained === false">
      <button ion-button icon-end block class="btn" (tap)=presentActionSheet() style="margin-top: 17px;">Upload Image</button>

    </div>
    <div text-center>
      <button ion-button icon-end block class="btn" [disabled]="!complaintForm.valid" type="submit" (tap)=registerComplaint() style="margin-top: 17px;">Register Complaint</button>

    </div>
  </form>
</ion-content>
