.complaint-form{
    padding-top: 8px;
    padding-left: 8px;
    padding-right: 16px;
    padding-bottom: 8px;
}

.complaints-item{
    padding-left: 8px;
}

.complaints-label{
    padding-left: 4px;
}

.complaintType-select{
    min-width: 80%;
    font-size: 18px;
    padding-left: 8px;  
    color: color($colors,primary-dark);
}

.complaint-buttons{
    background-color: color($colors,primary);
    color: white;
    min-width: 50%;
    font-size: 18px;
}

#x {
    position: relative;
    float: right;   
    background:	#86888A;
	color: white;
    top: -10px;
    right: -10px;
    border-radius: 100%;
}