.complaint-form{
    padding-top: 8px;
    padding-left: 8px;
    padding-right: 16px;
    padding-bottom: 8px;
}

.complaints-item{
    padding-left: 8px;
    margin-top: 15px;
}

.complaints-label{
    padding-left: 4px;
}

// .complaintDescription {
//     margin-top: 20px;
//     margin-left: 7px;
//     font-size: 17px;
//     color: #D3D3D3;
// }

.complaintLocation {
    margin-top: 15px;
}

.complaintType-select{
    min-width: 80%;
    font-size: 18px;
    padding-left: 8px;  
    color: color($colors,primary-dark);
}

// .complaint-buttons{
//     background-color: color($colors,primary);
//     color: white;
//     min-width: 50%;
//     font-size: 90%;
//     width: 50%;
// }

#x {
    position: relative;
    float: right;   
    background:	#86888A;
	color: white;
    top: -10px;
    right: -10px;
    width: 20px;
    height: 20px;
    border-radius: 100%;
}

