<!--
  Generated template for the BookingsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
      </button>
    <ion-title>Upcoming Bookings</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
    <div *ngIf="noOfUpcomingBookings !== 0; else emptyListsDisplay">

      <ion-list style="margin-top: 16px;">
        <ion-grid *ngFor="let facilityName of facilityNames"  style="padding-top: 8px;margin-bottom: 8px; border-bottom: 1px solid #ccc">
        <ion-row style="margin-left: 16px;">
          <ion-col col-2 class="notice-icon">
              <ion-icon class="notice-icon-inner" ios="ios-paper-outline" md="md-paper"></ion-icon>
          </ion-col>
          <ion-col col-10 style="padding-left: 16px;">
            <ion-row>
                  <ion-label class="noticeSubjectText">{{facilityName.nameAfterRemovingSocietyId}}</ion-label>
            </ion-row>
            <ion-row>
                <ion-label class="noticedate-text">{{facilityName.eventDateAndTime[0]}} starts at {{facilityName.eventDateAndTime[1]}}</ion-label>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-grid>
        
      </ion-list>
    </div>

    <ng-template #emptyListsDisplay>
      <ion-label style="color: red; font-size: 18px; margin-left: 10px">There are no Upcoming Bookings</ion-label>
    </ng-template>
</ion-content>
