.bookingConfirmationHeader{
    font-size: 24px;
    color: #0064b7;
    padding-bottom: 0px;
}

.bookingConfirmationContent{
    font-size: 20px;
}

.bookingBtns{
    font-size: 20px;
    width: 80%;
    text-align: center;
}