.bookingConfirmationHeader{
    font-size: 24px;
    color: color($colors, primary);
    padding-bottom: 0px;
}

.bookingConfirmationContent{
    font-size: 20px;
}

.bookingBtns{
    font-size: 20px;
    text-align: center;
    background-color: color($colors, primary-dark);
}

.tncaccept-text{
    font-size: 18px;
    color: color($colors, primary);
}