// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
ion-header{
    padding: 0px;
}

$colors: (
  primary:         #CA8D42,
  primary-dark:    #956013,
  primary-light:   #ffbd70,
  secondary:       #ffffff,
  secondary-light: #ffffff,
  secondary-dark:  #cccccc,
  danger:     #f53d3d,
  light:      #ffff5a,
  dark:       #c7cc00,
  black:      #222
);

ion-content{
  background-color: #ffffff;
}
.toolbar{
  padding: 0px;
}

.navbar-button{
  font-size: 48px;
}

.toolbar-title{
  font-size: 24px;
  text-align: center;
}

.toolbar-background-ios{
  background: color($colors, primary);
}

.toolbar-ios{
  padding-top: 4px;
  min-height: 56px;
}

.toolbar-ios ion-title{
  padding-top: 16px;
  align-items: normal;
}

ion-title{
  padding-right: 44px;
}

.bar-button-default-ios{
  color: black;
}

.toolbar-background-md{
  background: color($colors, primary);
}

hr{
  background-color:#0064b7;  
}

*{
  font-family: sans-serif;
}

.sidemenu-profile-row{
  padding-top: 2%;
  padding-bottom: 2%;
  background-color: color($colors, primary-light);
}

.sidemenu-title{
  text-align: center;
}

.sidemenu-icon-border{
  padding: 0px;
}

.sidemenu-buttons{
  font-size: 18px;
}

.sidemenu{
  padding: 0px;
}

.sidemenu-text{
  text-align: left;
  font-size: 18px;
}
.sidemenu-profile-icon{
  font-size: 48px;
  padding-top: 16px;
}
