// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
ion-header{
    padding: 0px;
}

$colors: (
  primary:         #CA8D42,
  primary-dark:    #956013,
  primary-light:   #ffbd70,
  secondary:       #ffffff,
  secondary-light: #ffffff,
  secondary-dark:  #cccccc,
  danger:     #f53d3d,
  light:      #ffff5a,
  dark:       #c7cc00,
  black:      #222
);

ion-content{
  background-color: #ffffff;
}

.toolbar{
  padding: 0px;
}

.toolbar-title-ios{
  font-size: 20px;
  color:whitesmoke;
}

.navbar-button{
  font-size: 48px;
}

.toolbar-background-ios{
  background: color($colors, primary);
}

.bar-button-default-ios{
  color: whitesmoke;
}

.toolbar-background-md{
  background: color($colors, primary);
}

hr{
  background-color:#0064b7;  
}

*{
  font-family: sans-serif;
}

.sidemenu-profile-row{
  padding-top: 2%;
  padding-bottom: 2%;
  background-color: color($colors, primary-light);
}

.sidemenu-title{
  text-align: center;
}

.sidemenu-icon-border{
  padding: 0px;
}

.sidemenu-buttons{
  font-size: 18px;
  margin-left: 8px;
}

.sidemenu{
  padding: 0px;
}

.sidemenu-text{
  text-align: left;
  font-size: 18px;
}
.sidemenu-profile-icon{
  font-size: 48px;
  padding-top: 16px;
}

.btn{
  background-color: color($colors, primary);
  color: white;
  font-size: 15px;
  border-radius: 8px;
}

ion-item{
  padding: 0px;
}

.item-ios{
  padding-left: 0px;
}

.item-md{
  padding-left: 0px;
}

.form-input-field{
  font-size: 15px;
}


.back-button-text{
  display: none;
}

.input-top-margin{
  margin-top: 16px;
}

.segment-ios .segment-button.segment-activated{
  background-color: color($colors, primary);
}

.segment-ios .segment-button{
  border-color: color($colors, primary);
  color: color($colors, primary);
}

.segment-md .segment-button.segment-activated{
  background-color: color($colors, primary);
  border-color: color($colors, primary);
  color: white;
}

.segment-md .segment-button{
  border-color: color($colors, primary);
  color: color($colors, primary);
}