<!--
  Generated template for the NoticesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header style="padding: 0">

  <ion-navbar>
    <ion-title>notices</ion-title>
  </ion-navbar>

</ion-header>

<ion-content style="padding:8px">
    <div>
        <ion-segment [(ngModel)]="noticesTab" >
          <ion-segment-button value="recentNotices" class="segmentButtons" style="font-size: 18px">
            Recent Notices
          </ion-segment-button>
          <ion-segment-button value="archivedNotices" class="segmentButtons" style="font-size: 18px">
            Archived Notices
          </ion-segment-button>
        </ion-segment>
      </div>

      <div [ngSwitch]="noticesTab">

        <ion-list *ngSwitchCase="'recentNotices'">
            <ion-card *ngFor="let item of noticesArray" (click)=getNotice(item.searchid)>
              <ion-row style="height: 80%; overflow-wrap: break-word">
                <ion-item style="padding-left: 8px">
                  <ion-label class="noticeSubjectText">{{item.subject}}</ion-label>
                </ion-item>
              </ion-row>
              <ion-row style="padding-left: 4px;">
                <ion-col col-5>
                  <ion-row>
                  <ion-icon name="calendar" style="margin-right: 4px; vertical-align: bottom; font-size: 16px"></ion-icon>
                <ion-label style="margin: 0px; font-size:16px; text-align: left">{{item.date}}</ion-label>
              </ion-row>
              </ion-col>
              </ion-row>
              
              </ion-card>
        </ion-list>

        <ion-list *ngSwitchCase="'archivedNotices'">
            <ion-card *ngFor="let item of noticesArchivedArray" (click)=getNotice(item.searchid)>
                <ion-row style="height: 80%; overflow-wrap: break-word">
                  <ion-item style="padding-left: 8px">
                    <ion-label class="noticeSubjectText">{{item.subject}}</ion-label>
                  </ion-item>
                </ion-row>
                <ion-row style="padding-left: 4px;">
                  <ion-col col-5>
                    <ion-row>
                    <ion-icon name="calendar" style="margin-right: 4px; vertical-align: bottom; font-size: 16px"></ion-icon>
                  <ion-label style="margin: 0px; font-size:16px; text-align: left">{{item.date}}</ion-label>
                </ion-row>
                </ion-col>
                </ion-row>
                
                </ion-card>
        </ion-list>
      </div>
</ion-content>
