.segmentButtons{
    font-size: 20px; 
    color: #0064b7;
}

.noticeSubjectText{
    margin: 0px;
    font-size: 18px;
    padding-left: 10px;
    overflow-wrap: break-word; 
    white-space: normal
}

.noticedate-text{
    margin: 0px; 
    font-size:16px; 
    text-align: left;
    color: color($colors, primary);
}

.noticedate-icon{
    margin-right: 8px; 
    vertical-align: bottom; 
    font-size: 16px;
    color: color($colors, primary-dark);
}

.segment-ios{
    width: 80%;
    margin-left: 10%;
}