<!--
  Generated template for the NoticesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header style="padding: 0">

  <ion-navbar>
    <ion-title>Notices</ion-title>
  </ion-navbar>

</ion-header>

<ion-content style="padding:8px">
  <div>
    <ion-segment [(ngModel)]="noticesTab" style="padding-top: 8px;">
      <ion-segment-button value="recentNotices" class="segmentButtons" style="font-size: 18px">
        Recent
      </ion-segment-button>
      <ion-segment-button value="archivedNotices" class="segmentButtons" style="font-size: 18px">
        Archived
      </ion-segment-button>
    </ion-segment>
  </div>

  <div [ngSwitch]="noticesTab">

    <ion-list *ngSwitchCase="'recentNotices'">
      <ion-card *ngFor="let item of noticesArray" (click)="getNotice(item.searchid,'recent')">
        <ion-row>
          <ion-item>
            <ion-label class="noticeSubjectText">{{item.subject}}</ion-label>
          </ion-item>
        </ion-row>
        <ion-row>
          <ion-col col-10 style="padding-top: 0px;">
            <ion-row>
              <ion-icon name="calendar" class="noticedate-icon"></ion-icon>
              <ion-label class="noticedate-text">{{item.date}}</ion-label>
            </ion-row>
          </ion-col>
        </ion-row>

      </ion-card>
    </ion-list>

    <ion-list *ngSwitchCase="'archivedNotices'">
      <ion-card *ngFor="let item of noticesArchivedArray" (click)="getNotice(item.searchid,'archived')">
        <ion-row>
          <ion-item>
            <ion-label class="noticeSubjectText">{{item.subject}}</ion-label>
          </ion-item>
        </ion-row>
        <ion-row>
          <ion-col col-10 style="padding-top: 0px;">
            <ion-row>
              <ion-icon name="calendar" class="noticedate-icon"></ion-icon>
              <ion-label class="noticedate-text">{{item.date}}</ion-label>
            </ion-row>
          </ion-col>
        </ion-row>

      </ion-card>
    </ion-list>
  </div>
</ion-content>