<ion-header>
  <ion-navbar>
    <ion-title >Create New Account</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
<div style="padding:16px;">

  <form [formGroup]="signUpMemberForm" style="padding-top: 0px;">
    <ion-item>
      <ion-input type="text" class="form-input-field" placeholder="Enter your Name" formControlName="name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="text" class="form-input-field input-top-margin" placeholder="Phone No." formControlName="phoneNo"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="text" class="form-input-field input-top-margin" placeholder="Email ID" formControlName="member_email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="password" class="form-input-field input-top-margin" placeholder="Password" formControlName="password"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="password" class="form-input-field input-top-margin" placeholder="Confirm Password" formControlName="confirmPassword"></ion-input>
    </ion-item>
    <p *ngIf="passwordErrors.passwordsNotMatchFlag" style="color: red">Passwords don't match, Try again?</p>
    <p *ngIf="passwordErrors.passwordLengthTooShort" style="color: red">Password must be atleast 6 characters</p>
    <button ion-button block large clear class="btn" style="margin-top: 24px;" (tap)=submitRequest() [disabled]="!this.signUpMemberForm.valid">Submit My Request</button>
  </form>
</div>

</ion-content>