<ion-header>
  <ion-navbar>
    <ion-title >Create New Account</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
<div style="padding:16px;">

<!--
    <form [formGroup]="login" style="padding-top: 0px;">
      <ion-item>
        <ion-input type="text" class="form-input-field" placeholder="UserName (Email)" *ngIf="disableFields == 'no'; else disableduserName" formControlName="userName"></ion-input>
        <ng-template #disableduserName><ion-input type="text" disabled value = "{{userName}}" class="form-input-field input-top-margin"></ion-input></ng-template>
      </ion-item>
      <ion-item>
        <ion-input type="text" class="form-input-field input-top-margin" placeholder="Flat Number (ex. C401)" formControlName="flatNumber" *ngIf="disableFields == 'no'; else disabledflatNumber"></ion-input>
        <ng-template #disabledflatNumber><ion-input type="text" disabled value = "{{flatNumber}}" class="form-input-field input-top-margin"></ion-input></ng-template>
      </ion-item>
      <ion-item>
        <ion-input type="text" placeholder="One Time Code" class="form-input-field input-top-margin" formControlName="oneTimeCode" *ngIf="disableFields == 'no'; else disabledoneTimeCode"></ion-input>
        <ng-template #disabledoneTimeCode><ion-input type="text" disabled value = "{{oneTimeCode}}" class="form-input-field input-top-margin"></ion-input></ng-template>
      </ion-item>
      <div text-center *ngIf="visibility == 'none'; else showotherfields">
        <button ion-button block large clear class="btn" style="margin-top: 24px; " type="submit" [disabled]="!login.valid" (tap)="displayLoader('otp')">Verify OTP</button>
      </div>
      <ng-template #showotherfields>
        <ion-item>
          <ion-input type="password" placeholder="Password" class="form-input-field input-top-margin" formControlName="Password"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="password" placeholder="Re-Type Password" class="form-input-field input-top-margin" formControlName="rePassword"></ion-input>
        </ion-item>
        <div text-center class="submitBtn">
          <button ion-button block large clear class="btn" style="margin-top: 24px; " type="submit" [disabled]="!login.valid" (tap)='displayLoader("full")'>Submit</button>
        </div>
      </ng-template>
    </form>
-->

  <form [formGroup]="signUpSocietyForm" style="padding-top: 0px;">

    <ion-item>
      <ion-label>Find My Society</ion-label>
      <ionic-selectable
        item-content
        formControlName="societySearch"
        [items]="societies"
        itemValueField="id"
        itemTextField="name"
        [canSearch]="true"
        (onChange)="selectionChange($event)">
      </ionic-selectable>
    </ion-item>



    <ion-item>
      <ion-input type="text" class="form-input-field input-top-margin" placeholder="Unit No" formControlName="unitNo"></ion-input>
    </ion-item>

    <ion-item class="resident-type">
      <ion-label style="margin-right: 10px">Resident Type</ion-label>
          <ion-select interface="popover" formControlName="type">
            <ion-option value="owner">Owner</ion-option>
            <ion-option value="tenant">Tenant</ion-option>
          </ion-select>
    </ion-item>

  </form>
  <button ion-button block large clear class="btn" style="margin-top: 24px;" (tap)=loadMemberSignUpForm() [disabled]="!this.signUpSocietyForm.valid">Continue</button>
</div>



</ion-content>