

.facilitycard {
    position: relative;
    text-align: center;
    height: 20%;
    max-height: 20%;
}

.facilityImage{
    object-fit: cover;
    max-width: 100%;
    width: 10000px;
    max-height: 150px;
}


.card-title {
    position: absolute;
    top: 45%;
    font-size: 2.0em;
    width: 100%;
    font-weight: bold;
    color: #fff;
}

.card-subtitle {
    font-size: 1.0em;
    position: absolute;
    top: 52%;
    width: 100%;
    color: #fff;
}