
[col-1] {
-webkit-box-flex: 0;
-webkit-flex: 0 0 8.33333%;
-ms-flex: 0 0 8.33333%;
flex: 0 0 14.285714285714286%;
width: 14.285714285714286%;
max-width: 14.285714285714286%;
}
.col {
text-align: center;
padding: 5px;
}
.last-month, .next-month {
color: #999999;
font-size: 90%;
}
.currentDate, .otherDate {
padding: 5px;
}
.currentDate {
font-weight: bold;
background-color:  #0064b7;
color: white;
border-radius: 30px;
}
.calendar-header {
background-color: #0064b7;
color: #FFFFFF;
font-size: 18px;
padding-top: 4px;
padding-bottom: 4px;
}
.selected-date {
  font-weight: bold;
  background-color:  blue;
  border-radius: 50px;
}
.unselected-date {
border: none;
background-color: white;
}
.calendar-body {
.grid {
padding: 0;
}
.col:last-child {
border-right: none;
}
.calendar-weekday, .calendar-date {
text-align: center;
margin: 0;
}
.calendar-weekday {
font-weight: bold;
border-bottom: solid 1px #0064b7;
background-color: #0091ea;
font-size: 18px;
}
.calendar-date {
border-top: solid 1px #0064b7;
border-bottom: solid 1px #0064b7;
font-size: 18px;
}
}

.slotButton{
  font-size: 18px;
  margin: 0px;
  padding: 0px;
  padding-left: 0.5em;
  padding-right: 0.5em;
  margin-bottom: 0.5em;
}

.transparent-slot{
  background-color: transparent;
}

.selected-slot{
  background-color: #1568f8
}

.proceedBookBtn{
  width: 100%; 
  font-size:18px; 
  background-color: #0064b7;
}
