
[col-1] {
-webkit-box-flex: 0;
-webkit-flex: 0 0 8.33333%;
-ms-flex: 0 0 8.33333%;
flex: 0 0 14.285714285714286%;
width: 14.285714285714286%;
max-width: 14.285714285714286%;
}
.col {
text-align: center;
padding: 5px;
}
.last-month, .next-month {
color: #999999;
font-size: 90%;
}
.currentDate, .otherDate {
padding: 5px;
}
.currentDate {
font-weight: bold;
background-color:  color($colors, primary-dark);
color: white;
border-radius: 30px;
}
.calendar-header {
background-color: color($colors, secondary);
color: color($colors, primary-dark);
font-size: 20px;
padding-top: 4px;
padding-bottom: 4px;
font-weight: bold;
}
.selected-date {
  font-weight: bold;
  background-color:  color($colors, primary-dark);
  border-radius: 50px;
}
.unselected-date {
border: none;
background-color: white;
}
.calendar-body {
.grid {
padding: 0;
}
.col:last-child {
border-right: none;
}
.calendar-weekday, .calendar-date {
text-align: center;
margin: 0;
}
.calendar-weekday {
font-weight: bold;
color: color($colors, primary-dark);
font-size: 18px;
}
.calendar-date {
font-size: 18px;
}
}

.slotButton{
  font-size: 18px;
  border-color: color($colors, primary);
  color: black;
  margin: 0px;
  padding: 0px;
  padding-left: 0.5em;
  padding-right: 0.5em;
  margin-bottom: 0.5em;
}

.transparent-slot{
  background-color: transparent;
}

.selected-slot{
  background-color: color($colors, primary-dark);
  font-size: 18px;
  border-color: color($colors, primary);
  color: white;
  margin: 0px;
  padding: 0px;
  padding-left: 0.5em;
  padding-right: 0.5em;
  margin-bottom: 0.5em;
}

.proceedBookBtn{
  width: 50%; 
  font-size:18px; 
  background-color: color($colors, primary-dark);
}
