<ion-header style="padding: 0px">
  <ion-navbar>
    <ion-title>
      {{this.facility.display_name}}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content >
  <div style="padding: 8px;">
  <ion-card style="padding-bottom: 8px;">
  <div class="calendar-header">
    <ion-row class="calendar-month">
      <ion-col col-2 *ngIf="calendar.goToPreviousMonthFlag === true" (tap)="calendar.goToPreviousMonth()"><ion-icon name="arrow-dropleft-circle"></ion-icon></ion-col>
      <ion-col col-2 *ngIf="calendar.goToPreviousMonthFlag === false" (tap)="calendar.goToPreviousMonth()"><ion-icon isActive="false" name="arrow-dropleft"></ion-icon></ion-col>
      <ion-col col-8>{{calendar.currentMonth}} {{calendar.currentYear}}</ion-col>
      <ion-col col-2 *ngIf="calendar.goToNextMonthFlag" (tap)="calendar.goToNextMonth()"><ion-icon name="arrow-dropright-circle"></ion-icon></ion-col>
      <ion-col col-2 *ngIf="calendar.goToNextMonthFlag === false" (tap)="calendar.goToNextMonth()"><ion-icon isActive="false" name="arrow-dropright"></ion-icon></ion-col>
    </ion-row>
  </div>
  <div class="calendar-body">
    <ion-grid>
      <ion-row class="calendar-weekday">
        <ion-col>S</ion-col>
        <ion-col>M</ion-col>
        <ion-col>T</ion-col>
        <ion-col>W</ion-col>
        <ion-col>T</ion-col>
        <ion-col>F</ion-col>
        <ion-col>S</ion-col>
      </ion-row>
      <ion-row class="calendar-date">
        <ion-col col-1 *ngFor="let lastDay of calendar.daysInLastMonth" class="last-month">{{lastDay}}</ion-col>
        <ion-col col-1 *ngFor="let day of calendar.daysInThisMonth" (tap)=dateSelected(day,calendar.currentMonth,calendar.currentYear)>
          <span class="last-month"  *ngIf="currentDate > day && calendar.selectedDate !== day && calendar.goToNextMonthFlag" >{{day}}</span>
          <span *ngIf="currentDate > day && calendar.selectedDate !== day && calendar.goToPreviousMonthFlag" style="color: #000000">{{day}}</span>
          <span  *ngIf="currentDate <= day && calendar.selectedDate !== day" style="color: #000000">{{day}}</span>
          <span class="currentDate" *ngIf="calendar.selectedDate === day">{{day}}</span>
        </ion-col>
        <ion-col col-1 *ngFor="let nextDay of calendar.daysInNextMonth" class="next-month" >{{nextDay}}</ion-col>
      </ion-row>
    </ion-grid>
  </div>
  </ion-card>

  <div>
    <ion-grid>
      <ion-row>
        <ion-label style="font-size: 18px">Available Time Slots</ion-label>
      </ion-row>
      <ion-row *ngIf="!this.areSlotsAvailable">
          <ion-label style="font-size: 18px; color: red">No Slots Available for Selected Date</ion-label>
      </ion-row>
      <ion-row>
        <ion-col col-3 *ngFor="let slot of slotsArray">
          <button ion-button clear *ngIf="slot === selectedSlotTime; else otherslots" class="selected-slot" (tap)=slotSelected(slot)>{{slot}}</button>
          <ng-template #otherslots><button ion-button outline (tap)=slotSelected(slot) class="slotButton">{{slot}}</button></ng-template>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
    <div text-center style="padding-left:8px;padding-right: 8px;">
    <button ion-button icon-end block clear class="btn" [disabled]="!isValidDateAndTimeSelected" (tap)=proceedBook()>Book<ion-icon name="arrow-dropright"></ion-icon></button>
  </div>
</div>
</ion-content>