#downloadButton{
    display: inline-block;
    padding: 16px;
}

.btn{
    font-size: 18px;
    
}

.noticeheader{
    text-align: left;
    padding: 16px 16px 0px 42px;
    font-size: 20px;
    white-space: pre-line
}

.date{
    text-align: left;
    padding-left: 16px;
    font-size: 18px; 
}

.noticedownload-icon{
    font-size: 24px;
    color: color($colors, primary-dark);
    padding: 0px;
}

.selectednoticedate-icon{
    margin-right: 8px;
    vertical-align: bottom;
    color: color($colors, primary-dark);
}

.separator{
    border-bottom: 1px;
}

.noticedownload-button{
    color: color($colors, primary-dark);
    border: none;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 24px;
}

.noticedescription{
    text-align: justify;
    font-size: 18px;
}
